html,
body {
  height: 100%;
}
#app,
#app > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.header {
  padding: 30px;
}

.counter {
  font-size: 50px;
}

.counter:hover {
  cursor: pointer;
}
