.header {
  background: white;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
}

.header a {
  background-color: rgba(255, 0, 0, 0.1);
  color: red;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px;
  transition: all 0.1s;
  margin: 5px;
}

.header a:hover {
  background-color: rgba(255, 0, 0, 0.2);
  font-weight: bold;
}

.header a.active {
  background-color: rgba(255, 0, 0, 0.2);
  font-weight: bold;
}

.moduleExample {
  background-color: rgba(255, 0, 0, 0.1);
  padding: 20px !important;
}
